extends layout

block content
  h1 Groups
  p.lead
    | This page will allows you to add/edit topcoder member groups (essentially the queries that fetch members from the db). Should also provide some ad-hoc querying.