extends layout

block content
  h1 The Newsletter Minigun
  p.lead
    | Send your newsletters to topcoder members with style.
    br
    br
    iframe(width='560', height='315', src='http://www.youtube.com/embed/d84r8gMGxFQ', frameborder='0', allowfullscreen='allowfullscreen')