doctype html
html
  head
  body
    table(width="100%",cellpadding="2", cellspacing="2")
      tr
        td
          a(href='http://www.topcoder.com'): img(src='https://s3.amazonaws.com/cs-public/email_images/cloudspokes-logo.png')
        td
          h2= title

    block content
